version: '3.8'

services:
  indexer:
    build: .
    volumes:
      - ./data:/app/data
    command: /app/bin/indexer /app/data index.dat

  search-server:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    command: /app/bin/search_server index.dat 8080 